.gallery-slider {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  background-image: url("../../../../public/assets/images/coffeeBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfbcae5b;
  h1 {
    padding: 40px;
    font-size: 45px;
    text-align: center;
  }
  .gallerySlider {
    width: 80%;
    height: 500px;

    .gallerySlid {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: #ecc14e;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: color 0.3s ease;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      // background-color: #7c4512;
      color: #7c4512;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 30px !important;
      font-weight: bolder;
      position: absolute;
      text-shadow: -2px 0px 10px rgba(236, 193, 78, 1);
    }
  }
}
