.RecipeBanner-Container {
  height: 100vh;
  background-image: url(../../../../public/assets/images/RecipeBG.jfif);
  background-position: center;
  background-size: cover;
  .RecipeBanner-Layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    position: relative;

    h1 {
      position: absolute;
      color: #fff;
      font-size: 180px;
      top: calc(50% - 104px);
      right: calc(50% - 155px);
    }
  }
}
