.recipe-Container {
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .steps-wrapper {
    width: 80%;
    margin: 0 auto;

    .step-item {
      display: flex;
      gap: min(2.4rem, 4vw);
      .step-item--num {
        position: relative;
        margin-top: -0.5rem;

        .item--num {
          min-width: 3.6rem;
          height: 3.6rem;
          border: 2px solid #505049;
          display: flex;
          position: relative;
          justify-content: center;
          flex: none;
          font-size: min(20px, 4.5vw);
          transition: 0.3s;
          border-radius: 100vw;
          align-items: center;

          b {
            background: #e6c498;
            width: 2.64rem;
            height: 2.64rem;
            border-radius: 100vw;
            display: flex;
            line-height: 3.2rem;
            justify-content: center;
            color: #fff;
            transition: 0.3s;
          }
        }
        .item--num::before {
          content: "";
          width: 8px;
          height: 3px;
          border-radius: 4px;
          background-color: #505049;
          right: -8px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }

        .line {
          height: calc(100% - 5.2rem);
          width: 1px;
          border: 0.5px dashed #e6c498;
          display: block;
          right: 1.7rem;
          top: 4.2rem;
          position: absolute;
        }
      }

      .step-item--content {
        margin-bottom: min(10rem, 15vw);

        .step-item__title {
          color: var(--c-neutral-500);
          font-variation-settings: var(--fw-400);
          margin-bottom: 2rem;
        }

        .step-main-content {
         
          img {
            max-width: 100%;
            border-radius: 12px;
            display: block;
            margin-inline: auto;
          }
        }
      }
    }
  }
}
